Repository AsenchikA/post_reader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css}": "prettier --write",
  "*.css": "stylelint --fix",
  "*.{ts,tsx,js}": "eslint --fix",
}

remove excess
  webpack/loaders/index.js
  webpack/utils/index.js
Due: prettier --write, eslint --fix

small fix for react-redux
  package-lock.json
  package.json
Due: none

fix ts-loader
  webpack.config.js
Due: prettier --write, eslint --fix

added main functionality
  .babelrc
  .eslintrc.json
  jest.config.js
  package-lock.json
  package.json
  src/app.tsx
  src/components/input/__snapshots__/input.test.tsx.snap
  src/components/input/input.css
  src/components/input/input.test.tsx
  src/components/input/input.tsx
  src/components/loader/__snapshots__/loader.test.tsx.snap
  src/components/loader/loader.css
  src/components/loader/loader.test.tsx
  src/components/loader/loader.tsx
  src/constants/index.ts
  src/index.tsx
  src/pages/login/login.css
  src/pages/login/login.tsx
  src/pages/posts/components/post-card/__snapshots__/post-card.test.tsx.snap
  src/pages/posts/components/post-card/post-card.css
  src/pages/posts/components/post-card/post-card.test.tsx
  src/pages/posts/components/post-card/post-card.tsx
  src/pages/posts/components/user-card/__snapshots__/user-card.test.tsx.snap
  src/pages/posts/components/user-card/user-card.css
  src/pages/posts/components/user-card/user-card.test.tsx
  src/pages/posts/components/user-card/user-card.tsx
  src/pages/posts/posts.css
  src/pages/posts/posts.tsx
  src/store/index.ts
  src/store/reducers/index.ts
  src/store/slices/login/index.ts
  src/store/slices/login/types.ts
  src/store/slices/postList/index.ts
  src/store/slices/postList/types.ts
  src/types/index.ts
  src/utils/index.ts
  src/utils/utils.test.ts
  webpack.config.js
Due: prettier --write, stylelint --fix, eslint --fix

change readme
  README.md
Due: prettier --write

remove excess eslintignore
  .eslintignore
  .eslintrc.json
Due: none
